:root {
    --vermelho:#e50914;
    --preta:#141414;
    --branco:#e6e0e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 35px;
    margin-left: 10px;
}

header nav a {
    text-decoration: none;
    color: var(--branco);
    margin-right: 10px;
    font-weight: 200;
    letter-spacing: 2px;
}

header nav a:hover {
    color: #ffff;
    margin-right: 10px;
    font-weight: 600;
    
}


/* ------- Filme principal ------ */


.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0, 0, 0, 0.5)20%, rgba(2,75,80,.50)50%), url('../asserts/soul.jpg');
    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao-sinopse{
    margin-top: 12px;
    margin-bottom: 36px;
}

.container .titulo{
    margin-top: 15%;
    font-size: 50px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Tentei traduzir o efeito do botão do github, em modo DARK */
.botao{
    background-color: rgba(0,0,0,.50);
    border: 1px solid rgba(255,255,255,.1);
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;


    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    /* background-color: rgba(255, 255, 255, 0.2); */
    /* color: black; */
    box-shadow: inset 0px 1px 8em rgba(255, 255, 255, 0.2);;
    border: 1px solid white;
   
}

.botao .fas{
    margin-right: 8px;
}

.filme-principal .container{
    width: 65%;
    margin-left: 20px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    border: 1px solid white;
    margin-top: 1%;
}

